server:
  port: 8081
spring:
  application:
    name: inventory-service
  datasource:
    url: jdbc:h2:mem:inventorydb;DB_CLOSE_DELAY=-1;MODE=LEGACY
    driverClassName: org.h2.Driver
    username: sa
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console